.Animation {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.runningLine {
  width: 100vw;
  height: 30vh;
  position: relative;
}
.one {
  position: absolute;
  min-width: 100%;
}
.one span {
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
  animation: animationOne 15s linear infinite;
}
/* add the duration */
.two span {
  animation-delay: 7.5s;
}
/* delay = duration / 2  */
.imges {
  margin: 3vw;
  width: 15vw;
}
@keyframes animationOne {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
